<h1>About Playtonic</h1>
<h5>Playtonic Games are an independent videogame developer, started by the creative talent behind some of the most popular platform games of the past (including Donkey Kong Country and Banjo-Kazooie).  Their aim is to bring fun games that everyone loves to play to new and old audiences alike across multiple platforms!</h5>

<h5>Their core team of veterans mixed with fresh, youthful talent has collectively notched up hundreds of years of videogame development. Their first release as Playtonic Games is Yooka-Laylee, launched in April 2017, and funded as a result of Europe’s biggest video game Kickstarter! They're based in the heart of the Midlands in the UK near Burton upon Trent, within easy commuting distance of larger cities such as Derby, Nottingham, Leicester and Birmingham.</h5>

<h5>With their first game done, they're looking to expand, and you could become a part of their future adventures!</h5>

<h1>About the Fan Page</h1>
<h5>This fan page was made as the number one place to go to find fellow Playtonic fans. Here you can find other members of the club and get to know them a little. The page is still in the beginning phases, but full on message boards are a future goal here and eventually it'll be your one stop shop for all things Playtonic.</h5>
