<div id="contact">
  <h1>Contact Playtonic</h1>

  <h2>General Enquiries</h2>
  <h5>If you have an insatiable burning desire to contact them about anything, other than the topics below, then you can mail them here: <a class="shake-little" href="mailto:love@playtonicgames.com">love@playtonicgames.com</a></h5>

  <h2>Press</h2>
  <h5>If you’re looking to contact them regarding anything to do with press type stuff then this is the email address you are looking for: <a class="shake-little" href="mailto:press@playtonicgames.com">press@playtonicgames.com</a></h5>

  <h2>Game Business</h2>
  <h5>If you work in the games industry and would like to discuss business things with them then go ahead and contact them here: <a class="shake-little" href="mailto:bizdev@playtonicgames.com">bizdev@playtonicgames.com</a></h5>

  <h2>Jobs</h2>
  <h5>Up-to-date hiring information can be found over on their <a class="shake-little" href="http://www.playtonicgames.com/jobs/">Jobs page</a></h5>

  <h1>Contact the Fan Page</h1>
  <h5>If you have any questions, concerns, or input about the site, you can reach me at: <a class="shake-little" href="mailto:steven.john.galvin@gmail.com">steven.john.galvin@gmail.com</a></h5>
</div>
