<div class="my-nav">
  <div class="container">
    <ul>
      <li id="header"><a routerLink=""><img class="shake-rotate" id="logo" src="assets/images/logo.png"><span class="shake-little">{{title}}</span></a></li>
      <li><a class="shake-little" routerLink="admin">Admin</a></li>
      <li><a class="shake-little" routerLink="contact">Contact</a></li>
      <li><a class="shake-little" routerLink="about">About</a></li>
      <li><a class="shake-little" routerLink="members">Members</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</div>
<br>
<br>
<div class="my-footer">
  <ul>
    <li><a href="https://www.facebook.com/Steven.Galvin.290" class="shake-little">facebook</a></li>
    <li><a href="https://twitter.com/stvnglvn" class="shake-little">twitter</a></li>
    <li><a href="https://github.com/Steven-Galvin" class="shake-little">github</a></li>
  </ul>
</div>
