<h2>Add New Member</h2>
<br>
<div>
  <div>
    <label>Name:</label>
    <br>
    <input class="form-control" #newName>
  </div>
  <br>
  <div>
    <label>Bio:</label>
    <br>
    <textarea class="form-control" #newBio></textarea>
  </div>
  <br>
  <div>
    <label>Quote:</label>
    <br>
    <input class="form-control" #newQuote>
  </div>
  <br>
  <div>
    <label>Sex:</label>
    <br>
    <select class="form-control" #newSex>
      <option value="Male" selected>Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <br>
  <div>
    <label>Age:</label>
    <br>
    <input class="form-control" #newAge type="number">
  </div>
  <br>
  <div>
    <label>Interests:</label>
    <br>
    <input class="form-control" #newInterests>
  </div>
  <br>
  <div>
    <label>Club Rank:</label>
    <select class="form-control" #newClubRank>
      <option value="Admin" selected>Admin</option>
      <option value="Expert">Expert</option>
      <option value="Newbie">Newbie</option>
    </select>
  </div>
  <br>
  <div>
    <label>Favorite Game:</label>
    <select class="form-control" #newFavoriteGame>
      <option value="Banjo-Kazooie" selected>Banjo-Kazooie</option>
      <option value="Banjo-Tooie">Banjo-Tooie</option>
      <option value="Yooka-Laylee">Yooka-Laylee</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <br>
  <br>
  <button class="btn btn-lg myBtn outline" (click)="submitForm(newName.value, newBio.value, newQuote.value, newSex.value, newAge.value, newInterests.value, newClubRank.value, newFavoriteGame.value); newName.value=''; newBio.value=''; newQuote.value=''; newSex.value=''; newAge.value=''; newInterests.value=''; newClubRank.value=''; newFavoriteGame.value='';">Add Member</button>
</div>
<hr>
<div>
  <app-members></app-members>
</div>
