/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*CONTENT*/

.my-content {
  border-radius: 1em;
  display: flex;
  margin: 25px auto;
  padding: 20px;
  color: white;
  justify-content: center;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
}

/*NAVBAR*/

.my-nav {
  display: flex;
  border-bottom: 1px solid black;
  background-color: rgba(178,229,200,0.8);
}
.my-nav ul {
  min-width: 100%;
  display: block;
  list-style: none;
  padding: 1em 0 1.5em 0;
}
.my-nav ul li {
  float: right;
  margin-left: 1em;
}
.my-nav ul li:first-child {
  float: left;
  margin-left: 0;
}
.my-nav a {
  color: black;
}
.my-nav a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px white;
}
.my-nav a:focus {
  text-decoration: none;
  color: black;
}
a {
  color: inherit;
}

/*FOOTER*/

.my-footer {
  background-color: rgba(245,132,134,0.8);
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.my-footer ul {
  min-width: 100%;
  display: block;
  list-style: none;
  padding: 0.5em 0 0em 0;
  text-align: center;
}
.my-footer ul li {
  display: inline;
  margin: 0 0.5em;
  cursor: pointer;
}
.my-footer ul li:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px white;
}
#logo {
  height: 25px;
}

/*CONTACT*/

#contact a {
  color: #eee;
}


/*MEMBERS*/

.details {
  margin-top: 20px;
}

.details:hover {
  color: rgba(224,244,233,0.9);
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(245,132,134,0.5);
}

.bio {
  border-radius: 1em;
  width: 50%;
  padding: 10px;
  background: rgba(150, 150, 150, 0.7);
}

/*SHAKE*/

/*LITTLE*/

/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-little
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-little {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-little:hover,
.shake-trigger:hover .shake-little {
  animation-play-state: running; }

@keyframes shake-little {
  2% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  4% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  12% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  26% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  36% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  58% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  66% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  70% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  78% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  88% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

/*ROTATE*/

.shake-rotate {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate {
  animation-play-state: running; }

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(7.5deg); }
  4% {
    transform: translate(0, 0) rotate(2.5deg); }
  6% {
    transform: translate(0, 0) rotate(2.5deg); }
  8% {
    transform: translate(0, 0) rotate(-0.5deg); }
  10% {
    transform: translate(0, 0) rotate(2.5deg); }
  12% {
    transform: translate(0, 0) rotate(-5.5deg); }
  14% {
    transform: translate(0, 0) rotate(0.5deg); }
  16% {
    transform: translate(0, 0) rotate(0.5deg); }
  18% {
    transform: translate(0, 0) rotate(2.5deg); }
  20% {
    transform: translate(0, 0) rotate(1.5deg); }
  22% {
    transform: translate(0, 0) rotate(-5.5deg); }
  24% {
    transform: translate(0, 0) rotate(3.5deg); }
  26% {
    transform: translate(0, 0) rotate(4.5deg); }
  28% {
    transform: translate(0, 0) rotate(5.5deg); }
  30% {
    transform: translate(0, 0) rotate(0.5deg); }
  32% {
    transform: translate(0, 0) rotate(-0.5deg); }
  34% {
    transform: translate(0, 0) rotate(6.5deg); }
  36% {
    transform: translate(0, 0) rotate(4.5deg); }
  38% {
    transform: translate(0, 0) rotate(-5.5deg); }
  40% {
    transform: translate(0, 0) rotate(6.5deg); }
  42% {
    transform: translate(0, 0) rotate(-4.5deg); }
  44% {
    transform: translate(0, 0) rotate(6.5deg); }
  46% {
    transform: translate(0, 0) rotate(1.5deg); }
  48% {
    transform: translate(0, 0) rotate(-6.5deg); }
  50% {
    transform: translate(0, 0) rotate(6.5deg); }
  52% {
    transform: translate(0, 0) rotate(4.5deg); }
  54% {
    transform: translate(0, 0) rotate(-6.5deg); }
  56% {
    transform: translate(0, 0) rotate(-5.5deg); }
  58% {
    transform: translate(0, 0) rotate(7.5deg); }
  60% {
    transform: translate(0, 0) rotate(3.5deg); }
  62% {
    transform: translate(0, 0) rotate(6.5deg); }
  64% {
    transform: translate(0, 0) rotate(2.5deg); }
  66% {
    transform: translate(0, 0) rotate(-4.5deg); }
  68% {
    transform: translate(0, 0) rotate(-3.5deg); }
  70% {
    transform: translate(0, 0) rotate(-3.5deg); }
  72% {
    transform: translate(0, 0) rotate(0.5deg); }
  74% {
    transform: translate(0, 0) rotate(-5.5deg); }
  76% {
    transform: translate(0, 0) rotate(4.5deg); }
  78% {
    transform: translate(0, 0) rotate(-1.5deg); }
  80% {
    transform: translate(0, 0) rotate(1.5deg); }
  82% {
    transform: translate(0, 0) rotate(2.5deg); }
  84% {
    transform: translate(0, 0) rotate(0.5deg); }
  86% {
    transform: translate(0, 0) rotate(-2.5deg); }
  88% {
    transform: translate(0, 0) rotate(7.5deg); }
  90% {
    transform: translate(0, 0) rotate(4.5deg); }
  92% {
    transform: translate(0, 0) rotate(-6.5deg); }
  94% {
    transform: translate(0, 0) rotate(0.5deg); }
  96% {
    transform: translate(0, 0) rotate(5.5deg); }
  98% {
    transform: translate(0, 0) rotate(-6.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-rotate:hover,
.shake-trigger:hover .shake-rotate, .shake-rotate.shake-freeze, .shake-rotate.shake-constant {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }
