/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Mogra|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.my-content h1, h2, h3 {
  font-family: 'Mogra', cursive;
}


/*CONTENT*/

.my-content {
  border-radius: 1em;
  display: flex;
  margin: 25px auto;
  padding: 20px;
  color: white;
  justify-content: center;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
}

/*NAVBAR*/

.my-nav {
  font-family: 'Mogra', cursive;
  display: flex;
  border-bottom: 1px solid black;
  background-color: rgba(178,229,200,0.8);
}
.my-nav ul {
  min-width: 100%;
  display: block;
  list-style: none;
  padding: 1em 0 1.5em 0;
}
.my-nav ul li {
  float: right;
  margin-left: 1em;
}
.my-nav ul li:first-child {
  float: left;
  margin-left: 0;
}
.my-nav a {
  color: black;
}
.my-nav a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px white;
}
.my-nav a:focus {
  text-decoration: none;
  color: black;
}
a {
  color: inherit;
}
#logo {
  height: 25px;
}

/*FOOTER*/

.my-footer {
  font-family: 'Mogra', cursive;
  background-color: rgba(245,132,134,0.8);
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.my-footer ul {
  min-width: 100%;
  display: block;
  list-style: none;
  padding: 0.5em 0 0em 0;
  text-align: center;
}
.my-footer ul li {
  display: inline;
  margin: 0 0.5em;
  cursor: pointer;
}
.my-footer ul li:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px white;
}
.my-footer a {
  color: black;
}
.my-footer a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 1px white;
}
.my-footer a:focus {
  text-decoration: none;
  color: black;
}

/*CONTACT*/

#contact a {
  color: #eee;
}


/*MEMBERS*/

.details {
  margin-top: 20px;
}

.details:hover {
  color: rgba(224,244,233,0.9);
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(245,132,134,0.5);
}

.bio {
  border-radius: 1em;
  width: 50%;
  padding: 10px;
  background: rgba(150, 150, 150, 0.7);
}

/*BUTTON*/

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.myBtn {
  color: #fff;
  background-color: rgba(178,229,200,0.8);
  border-color: rgba(178,229,200,0.8);
}

.myBtn:hover,
.myBtn:focus,
.myBtn:active,
.myBtn.active,
.open .dropdown-toggle.myBtn {
  color: #fff;
  background-color: rgba(178,229,200,0.8);
  border-color: rgba(178,229,200,0.8);
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.myBtn.outline {
    border: 2px solid rgba(178,229,200,0.8);
    color: rgba(178,229,200,0.8);
}
.myBtn.outline:hover, .myBtn.outline:focus, .myBtn.outline:active, .myBtn.outline.active, .open > .dropdown-toggle.myBtn {
    transition: border-color 0.3s ease,
                color 0.3s ease;
    color: rgba(245,132,134,0.8);
    border-color: rgba(245,132,134,0.8);
}
.myBtn.outline:active, .myBtn.outline.active {
    border-color: rgba(150, 150, 150, 0.8);
    color: rgba(150, 150, 150, 0.8);
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/*SHAKE*/

/*LITTLE*/

/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-little
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-little {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-little:hover,
.shake-trigger:hover .shake-little {
  animation-play-state: running; }

@keyframes shake-little {
  2% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  4% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  12% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  26% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  36% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  58% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  66% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  70% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  78% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  88% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

/*ROTATE*/

.shake-rotate {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate {
  animation-play-state: running; }

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(7.5deg); }
  4% {
    transform: translate(0, 0) rotate(2.5deg); }
  6% {
    transform: translate(0, 0) rotate(2.5deg); }
  8% {
    transform: translate(0, 0) rotate(-0.5deg); }
  10% {
    transform: translate(0, 0) rotate(2.5deg); }
  12% {
    transform: translate(0, 0) rotate(-5.5deg); }
  14% {
    transform: translate(0, 0) rotate(0.5deg); }
  16% {
    transform: translate(0, 0) rotate(0.5deg); }
  18% {
    transform: translate(0, 0) rotate(2.5deg); }
  20% {
    transform: translate(0, 0) rotate(1.5deg); }
  22% {
    transform: translate(0, 0) rotate(-5.5deg); }
  24% {
    transform: translate(0, 0) rotate(3.5deg); }
  26% {
    transform: translate(0, 0) rotate(4.5deg); }
  28% {
    transform: translate(0, 0) rotate(5.5deg); }
  30% {
    transform: translate(0, 0) rotate(0.5deg); }
  32% {
    transform: translate(0, 0) rotate(-0.5deg); }
  34% {
    transform: translate(0, 0) rotate(6.5deg); }
  36% {
    transform: translate(0, 0) rotate(4.5deg); }
  38% {
    transform: translate(0, 0) rotate(-5.5deg); }
  40% {
    transform: translate(0, 0) rotate(6.5deg); }
  42% {
    transform: translate(0, 0) rotate(-4.5deg); }
  44% {
    transform: translate(0, 0) rotate(6.5deg); }
  46% {
    transform: translate(0, 0) rotate(1.5deg); }
  48% {
    transform: translate(0, 0) rotate(-6.5deg); }
  50% {
    transform: translate(0, 0) rotate(6.5deg); }
  52% {
    transform: translate(0, 0) rotate(4.5deg); }
  54% {
    transform: translate(0, 0) rotate(-6.5deg); }
  56% {
    transform: translate(0, 0) rotate(-5.5deg); }
  58% {
    transform: translate(0, 0) rotate(7.5deg); }
  60% {
    transform: translate(0, 0) rotate(3.5deg); }
  62% {
    transform: translate(0, 0) rotate(6.5deg); }
  64% {
    transform: translate(0, 0) rotate(2.5deg); }
  66% {
    transform: translate(0, 0) rotate(-4.5deg); }
  68% {
    transform: translate(0, 0) rotate(-3.5deg); }
  70% {
    transform: translate(0, 0) rotate(-3.5deg); }
  72% {
    transform: translate(0, 0) rotate(0.5deg); }
  74% {
    transform: translate(0, 0) rotate(-5.5deg); }
  76% {
    transform: translate(0, 0) rotate(4.5deg); }
  78% {
    transform: translate(0, 0) rotate(-1.5deg); }
  80% {
    transform: translate(0, 0) rotate(1.5deg); }
  82% {
    transform: translate(0, 0) rotate(2.5deg); }
  84% {
    transform: translate(0, 0) rotate(0.5deg); }
  86% {
    transform: translate(0, 0) rotate(-2.5deg); }
  88% {
    transform: translate(0, 0) rotate(7.5deg); }
  90% {
    transform: translate(0, 0) rotate(4.5deg); }
  92% {
    transform: translate(0, 0) rotate(-6.5deg); }
  94% {
    transform: translate(0, 0) rotate(0.5deg); }
  96% {
    transform: translate(0, 0) rotate(5.5deg); }
  98% {
    transform: translate(0, 0) rotate(-6.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-rotate:hover,
.shake-trigger:hover .shake-rotate, .shake-rotate.shake-freeze, .shake-rotate.shake-constant {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }
